<div class="container-fluid" id="select">
    <div ng-include="alert_url"></div>
    <header class="a_tip">
        <span>请选择孩子</span>
    </header>
    <div class="children_grid">
        <ul>
            <li class="status_item" ng-repeat="c in cs" ng-click="select(c)">
                <img src="http://api.keji110.com/{{c.icon_class}}"><br>
                <span class="name">{{c["name_class"]}}</span>
            </li>
        </ul>
    </div>
    <div class="tip-x">
        <p>请检查孩子代码是否正确</p>
        <a class="back" ng-click="back()">返回</a>
    </div>
</div>

<div ng-include="alert_url"></div>